:root {
  --vermelho: #e50914;
  --preta: #141414;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: var(--preta);
  font-family: "Arial", Times, serif;
  color: #fff;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .logo {
  
  color: var(--vermelho);
  font-family: "Arial Black", Times;
  font-size: 40px;
}
header nav a {
  text-decoration: none;
  color: #aaa;
  margin-right: 10px;
}
header nav a:hover {
  color: #fff;
}
/*Fime principal*/
.filme-principal {
  font-size: 16px;
  background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url("../img/house-capa.jpg");
  height: 400px;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.filme-principal .descricao{
  margin-top: 10px;
  margin-bottom: 40px;
}
.titulo{
  margin-top: 15%;
  font-size: 40px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.botao{
  background-color: rgba(0,0,0,.50);
  border: none;
  color: #fff;
  padding: 15px 30px;
  margin-right: 15px;
  font-size: 12px;
  cursor: pointer;
  border-radius: 5px;
  transition: .4s ease all;
  text-decoration: none;
}
.botao:hover{
  background-color: #fff;
  color: #000;
}
.botao i{
  margin-right: 5px;
}
.container{
  margin-left: 5%;
}
.filme-principal .container{
  width: 70%;
}
.box-filme{
  height: 100%;
  width: 100%;
  display: block;
 
}
.carrosel-filmes{
  margin-top: 5px;
}
.box-filme:hover{
  transform: scale(1.2);
}
.modal-1{
  background-color: var(--preta);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 2000;
  display: none;
  opacity: 0.9;
}
.modal-2{
  background-color: #aaa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 100vh;
}
.modal-3{
  position: relative;
  background-color: rgb(83, 81, 81);
  width: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 10px solid rgb(218, 214, 214);  
}
.modal-3 h2{
  margin-top: 20px;
  font-family: "Arial Black", 'Times New Roman', Times, serif;
  font-size: 25px;
  padding: 10px;
}
.modal-3 p{
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  padding: 10px;
  margin-bottom: 20px;
}
.fechar{
  position: absolute;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(218, 16, 16);
  border-radius: 50%;
  top: -5px;
  right: -5px;
  cursor: pointer;

}

